body {
	padding-left: 15px;
	padding-right: 15px;
}

.thumbnail .caption {
	text-align: center;
}

blockquote {
	font-size: 14px;
	margin: 0 0 0px;
}

div.image {
	overflow: hidden;
	text-align: center;
}

div.image img {
	height: 250px;
	max-width: inherit;
}
    
