
block header
  div.jumbotron
    h1 UX Patterns for Maps
    section.about
        p 
            !=Markdown(content)

block content
    - var counter = 0
    each pattern in patterns
        - if (counter%3==0) {
         | <div class="row">
        - }
        div.col-sm-3.col-md-4
              div.thumbnail
                - if (pattern.preview)
                  a(href=pattern.folder+'/index.html')
                    img(src=pattern.folder+'/'+pattern.preview)
                div.caption        
                  a(href=pattern.folder+'/index.html')=pattern.title
    
        - if (counter%3==2) {
         | </div>
        - }
        - counter++

