include mixins

h1= title
div
 |Problems: 
 mixin problems(problems)
div
 |Tags: 
 mixin listTags(tags)
 
block content
  article.article
    section.content(style="margin-top:1em;")
        if(content)
            div
                !=Markdown(content.trim())
        h2 Examples