include mixins

h1= title
div
 |Tags:  
 mixin problems(problems)
 mixin tags(tags)
 
block content
  article.article
    section.content(style="margin-top:1em;")
        if(content)
            div.well
                !=Markdown(content.trim())
        h2 Examples